body {
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
  color: #404040;
}

.container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: white;
}

footer {
  margin-top: 50px;
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  font-weight: 200;
}

.corp {
  color: #a1a1a1;
  font-weight: 400;
}
